<%@ page contentType="text/html;charset=UTF-8"%>

<div class="detail_hidden">
    <h2>${model.resrcName}</h2>
    <p class="sub_title">${model.resrcSubtitle} </p>
    <p>${model.resrcDigest}</p>
</div>